body.dark-theme {
  --text-color: #eeee;
  --bkg-color: #0f0f0f;
  --link-color: #3da6ff;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    --link-color: #3da6ff;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
    --link-color: #3da6ff;
  }
}
