body {
  margin: 0;
  padding: 50px;
  background: var(--bkg-color);
  --bkg-color: #fbfbfd;
}

p {
  margin: 0;
  font-size: 1.3em;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 0;
}

h2 {
  font-family: 'Playfair Display', 'Arial', 'Helvetica', sans-serif;
  font-size: 1em;
  margin: 0;
  padding-bottom: 5px;
}

span {
  margin: 0;
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1.3em;
  color: var(--text-color);
}
