@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  margin: 0;
  padding: 50px;
  background: var(--bkg-color);
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #1a1a1a;
  --link-color: #0433ff;
}

p {
  margin: 0;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

h2 {
  font-family: 'Cormorant Garamond', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-family: 'Playfair Display', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding-bottom: 5px;
  color: var(--text-color);
}

span {
  font-family: 'Lora', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  color: var(--text-color);
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1.3em;
  color: var(--text-color);
}

span {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

.container {
  display: flex;
}

.container__img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.container__block {
  width: 440px;
  padding: 0 0 40px;
  font-size: 1.1em;
}

.container__text { 
  padding: 0 40px;
}

.container__block:last-child {
  padding-bottom: 0;
}

.container__assets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1050px) {

  body {
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }

  .container__img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .container__text { 
    padding: 0 10px;
  }

  .container__block {
    max-width: 400px;
    padding: 20px 0;
    width: 100%;
  }

  .container__block:last-child {
    padding-bottom: 50px;
  }
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}