@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora|Playfair+Display&display=swap');

body {
  margin: 0;
  padding: 50px;
}

p {
  margin: 0;
}

h2 {
  font-family: 'Cormorant Garamond', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

h3 {
  font-family: 'Playfair Display', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding-bottom: 5px;
}

span {
  font-family: 'Lora', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

.container {
  display: flex;
}

.container__img {
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.container__block {
  width: 530px;
  padding: 0px 40px 46px;
}

.container__title {
  margin: 14px 0;
}

.container__links {
  margin-bottom: 12px;
}

.container__block:last-child {
  padding-bottom: 0;
}

.container__assets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1050px) {

  body {
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }

  .container__img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .container__block {
    max-width: 400px;
    padding: 20px 0;
    width: 100%;
  }

  .container__block:last-child {
    padding-bottom: 50px;
  }
}