@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

:root {
  --colorLink: #0000ff
}

a {
  color: var(--colorLink);
}

.header {
  margin-bottom: 4px;
}

.header__kek {
  padding-left: 20px;
}

.kek {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
  box-shadow: -5px -5px 0px -2px rgba(0,0,0,0.75);
  border-radius: 4px;
  background: #fff;
  font-family: 'IBM Plex Sans', sans-serif, "Ubuntu";
  font-size: 18px;
}

.kek--first {
  min-height: 400px;
  min-width: 540px;
  z-index: -1;
}

.kek--second {
  min-height: 400px;
  min-width: 507px;
  z-index: 1;
}

.line {
  border-bottom: 1px solid black;
}

.block {
  display: flex;
}

.images {
  width:25%;
  height:200px;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: -5px -5px 0 -2px rgba(0,0,0,0.75);
  margin: 20px 20px 0;
}

.image--cover {
  object-fit: cover;
}

.line {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 4px;
  justify-content: flex-end;
}

.line__ring {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
}

.line__ring--link {
  position: absolute;
  text-decoration: none;
  left: 3px;
  top: -4px;
}

.link__social {
  display: flex;
  flex-direction: column;
}
